nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
}

.content-menu {
  flex-grow: 1;
  background-color: rgb(36, 11, 173);
  height: 100px;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

li {
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 100px;
  height: 100px;
}
