* {
  margin: 0;
  padding: 0;
}

.page section {
  display: flex;
  justify-content: space-between;
  background: rgb(248, 250, 242);
  width: 100%;
  height: 728px;
  z-index: 1;
}

.page section article {
  flex: 1;
}

.page section article .title-default {
  margin: 100px 100px 0px;
  color: chocolate;
  width: 540px;
  font-size: 30px;
  font-weight: bold;
}
.page section article .text-default {
  margin: 30px 50px 0px;
  padding: 10px;
  font-size: 1.3em;
  /* width: 600px; */
}

.page section article .content-text {
  margin: 30px 100px 0px;
  width: 500px;
  background-color: rgb(223, 219, 219);
  border-radius: 15px;
}

.page section article:last-child .form-login {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 300px;
  /* border: 1px solid rgb(228, 228, 228); */
  background-color: rgb(223, 219, 219);
  border-radius: 10px;
  padding: 10px;
  margin-top: -5px;
  z-index: 1;
  box-shadow: 0px 1px 1px 2px #cccccc;
  position: absolute;
}
.page section article:last-child form button {
  justify-content: flex-end;
  margin-left: 120px;
  width: 100px;
  border: 1px solid #8f8f8f;
  border-radius: 6px;
  color: aliceblue;
  background-color: rgb(102, 223, 102);
}
.page section article:last-child form input {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  border: 0;

  box-shadow: 0 2px 0 #cccccc;
}
.page section article:last-child form a {
  margin-left: 150px;
  font-size: 0.9em;
}

.servicos {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 25%;
  background: rgb(207, 207, 207);
  z-index: 2;
  position: absolute;
  margin-top: -60px;
  margin-left: 140px;
  border-radius: 10px;
}
.page .content-servicos {
  background-color: #fff;
}
.servicos h1 {
  color: #353434;
  width: 100%;
}

.servicos div:last-child {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 200px;
}
.servicos div:last-child button{
  width: 200px;
  font-weight: bold;
  border: 1px solid #8f8f8f;
  border-radius: 6px;
  color: aliceblue;
  background-color: rgb(102, 223, 102);
}

.content-servicos {
margin-top:150px;
}
.content-servicos article h3{
  margin-left: 100px;
  color:#555454
;}

.cotacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 25%;
  background: rgb(207, 207, 207);
  z-index: 2;
  position: absolute;
  margin-top: -60px;
  margin-left: 140px;
  border-radius: 10px;
}
.cotacao h1 {
  color: #353434;
}


.page .section-1 .form-conversao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 60px;
  /* margin-left: 60px; */
  /* flex-direction: column; */
  
}
.page .section-1 .form-conversao input{
  margin: 10px;
  width: 100%;
  background-color: rgb(0, 0, 34);
  padding: 10px;
  border: 0px;
  
}
.page .section-1 .form-conversao label{
  margin: 10px;
  width: 100%;
  text-align: left;
}
.page .section-1 .img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  /* flex-direction: column; */
}

.page .section-1 {
  height: 100%;
display: grid;
  /* grid-gap: 10px; */
  
  grid-template-areas:
    'title title title title title title'
    'form form form img img img';
    
  background-color: rgb(2, 13, 49);
}

.item {
  padding: 10px 0;
  text-align: center;
  /* background-color: #ccc; */
}

.text-section-1 > div{
  padding: 10px;
  text-align: center;
  /* background-color: cadetblue; */
}


.page .section-1 .img img{
 width: 300px;
 height: 300px;
 margin-bottom: 60px
} 

.page .section-1 h1{
  color: white;
  /* margin-top: 20px; */
}
.page .section-1 p{
  color: white;
  font-size: 20px;
}
.page .section-1 label{
  color: white;
  font-size: 20px;
}


.title { grid-area: title; }
.form { grid-area: form; }
.img { grid-area: img; }

.section-1 .text-conversao {
  margin-top: 150px;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  margin:50px;
  text-align:center;
  z-index: 1;
  
}

.slides {
  width: 600px;
  margin-right: 100px;
  margin-top: 90px;
  height: 300px;
}

